$primary-background: #354B58;
$secondary-background: #3C505C;
$main-text: #79A0BA;
$secondary-text: #C5CFDF;

header, footer{
	color: $secondary-text;
	background-color: $primary-background;
	a{
		color: $secondary-text;
		text-decoration: none;
		&:hover{
			text-decoration: underline;
		}
	}
}

header{
	.fa-bars{
		display: none;
	}
	overflow: hidden;
	ul{
		padding: 0;
	}
	div, nav{
		margin: 0 2%;
		float: left;
	}
	div{
		width: 25%;
		img{
    	display: block;
		}
	}
	nav{
		width: 35%;
		margin-top: 2%;
	}
	ul{
		&.subNav{
			li:last-of-type{
				border-left: 1px solid white;
				padding-left: 10px;
			}
		}
		li{
			display: inline;
			margin: 15px;
		}
	}
	i{
		cursor: pointer;
	}
}

section, footer{
	overflow: hidden;
	padding: 5%;
	&.carousel{
		padding: 0;
		img{
			width: 100%;
		}
	}
	div{
		width: 25%;
    margin: 0 2%;
		float: left;
		img{
			width: 100%
		}
	}
}

section{
	&.main{
		color: $main-text;
		background-color: white;
		p, h3{
			width: 90%;
		}
	}
}

.read-more{
	display: inline-block;
	border-radius: 20px;
	border: 2px solid white;
	padding: 6px 15px;
	font-weight: bold;
	margin-top: 10px;
	cursor: pointer;
	.main &{
		border-color: $main-text;
	}
}

.download{
	color: $secondary-text;
	background-color: $secondary-background;
	.github{
		text-align: center;
		padding-top: 5%;
		.visit{
			display: inline-block;
			color: $secondary-text;
			background-color: #2E3134;
			border-radius: 10px;
			padding: 10px;
			margin-bottom: 10px;
			font-weight: bold;
			cursor: pointer;
		}
	}
	.news{
		border: 1px solid rgba(255, 255, 255, .5);
		border-radius: 10px;
		padding: 30px;
	}
}

footer{
	padding: 5% 5% 1%;
	ul{
		padding: 0;
		li{
			list-style: none;
			margin: 5px 0;
		}
	}
	.back-links{
		ul{
			display: flex;
			flex-flow: row wrap;
			padding: 0;
			li{
				margin: 10px 0;
				width: 50%;
			}
			li:last-of-type{
				border-top: 1px solid white;
				padding: 10px 0;
			}
		}
	}

	.about p, .contact ul{
		font-size: 12px;
	}

	.contact{
		li:first-of-type{
			font-weight: bold;
		}
	}

	.context{
		font-size: 11px;
		margin-top: 60px;
		width: 100%;
		text-align: center;
	}	
}

@media screen and (min-width: 600px) and (max-width: 768px) {
	header{
		div, nav{
			margin: 0 5px;
		}
		nav{
			ul{
				li{
					margin: 3px;
					font-size: 14px;
				}
			}
		}
	}

	.main{
		padding: 5% 1%;
		div{
			width: 29%;
		}
	}

	.download{
		div{
			width: 40%;
			&.github{
				width: 100%;
				margin-bottom: 50px;
			}
		}
	}

	footer{
		div{
			width: 40%;
			margin: 0 5%;
			&.back-links{
				width: 100%;
			}
		}
	}
}

@media screen and (min-width: 320px) and (max-width: 599px){
	header{
		.social, nav, .sub-nav, .products ul:nth-of-type(2) li:nth-of-type(2){
			display: none;
		}
		div{
			.fa-bars, img{
				display: inline-block;
			}
			.fa-bars{
				margin-top: 40px;
			}
			img{
				margin-left: 40%;
				position: relative;
				top: -45px;
			}
		}
		
		.products{
			float: right;
		}
	}

	section, footer{
		padding: 3%;
		div{
			width: 100%;
			float: none;
			margin: 5% 0;
		}
		&.download{
			padding: 30px 0px;
		}
	}
}