header, footer {
  color: #C5CFDF;
  background-color: #354B58; }
  header a, footer a {
    color: #C5CFDF;
    text-decoration: none; }
    header a:hover, footer a:hover {
      text-decoration: underline; }

header {
  overflow: hidden; }
  header .fa-bars {
    display: none; }
  header ul {
    padding: 0; }
  header div, header nav {
    margin: 0 2%;
    float: left; }
  header div {
    width: 25%; }
    header div img {
      display: block; }
  header nav {
    width: 35%;
    margin-top: 2%; }
  header ul.subNav li:last-of-type {
    border-left: 1px solid white;
    padding-left: 10px; }
  header ul li {
    display: inline;
    margin: 15px; }
  header i {
    cursor: pointer; }

section, footer {
  overflow: hidden;
  padding: 5%; }
  section.carousel, footer.carousel {
    padding: 0; }
    section.carousel img, footer.carousel img {
      width: 100%; }
  section div, footer div {
    width: 25%;
    margin: 0 2%;
    float: left; }
    section div img, footer div img {
      width: 100%; }

section.main {
  color: #79A0BA;
  background-color: white; }
  section.main p, section.main h3 {
    width: 90%; }

.read-more {
  display: inline-block;
  border-radius: 20px;
  border: 2px solid white;
  padding: 6px 15px;
  font-weight: bold;
  margin-top: 10px;
  cursor: pointer; }
  .main .read-more {
    border-color: #79A0BA; }

.download {
  color: #C5CFDF;
  background-color: #3C505C; }
  .download .github {
    text-align: center;
    padding-top: 5%; }
    .download .github .visit {
      display: inline-block;
      color: #C5CFDF;
      background-color: #2E3134;
      border-radius: 10px;
      padding: 10px;
      margin-bottom: 10px;
      font-weight: bold;
      cursor: pointer; }
  .download .news {
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    padding: 30px; }

footer {
  padding: 5% 5% 1%; }
  footer ul {
    padding: 0; }
    footer ul li {
      list-style: none;
      margin: 5px 0; }
  footer .back-links ul {
    display: flex;
    flex-flow: row wrap;
    padding: 0; }
    footer .back-links ul li {
      margin: 10px 0;
      width: 50%; }
    footer .back-links ul li:last-of-type {
      border-top: 1px solid white;
      padding: 10px 0; }
  footer .about p, footer .contact ul {
    font-size: 12px; }
  footer .contact li:first-of-type {
    font-weight: bold; }
  footer .context {
    font-size: 11px;
    margin-top: 60px;
    width: 100%;
    text-align: center; }

@media screen and (min-width: 600px) and (max-width: 768px) {
  header div, header nav {
    margin: 0 5px; }
  header nav ul li {
    margin: 3px;
    font-size: 14px; }

  .main {
    padding: 5% 1%; }
    .main div {
      width: 29%; }

  .download div {
    width: 40%; }
    .download div.github {
      width: 100%;
      margin-bottom: 50px; }

  footer div {
    width: 40%;
    margin: 0 5%; }
    footer div.back-links {
      width: 100%; } }
@media screen and (min-width: 320px) and (max-width: 599px) {
  header .social, header nav, header .sub-nav, header .products ul:nth-of-type(2) li:nth-of-type(2) {
    display: none; }
  header div .fa-bars, header div img {
    display: inline-block; }
  header div .fa-bars {
    margin-top: 40px; }
  header div img {
    margin-left: 40%;
    position: relative;
    top: -45px; }
  header .products {
    float: right; }

  section, footer {
    padding: 3%; }
    section div, footer div {
      width: 100%;
      float: none;
      margin: 5% 0; }
    section.download, footer.download {
      padding: 30px 0px; } }

/*# sourceMappingURL=App.css.map */
